---
import type { CollectionEntry } from "astro:content";
import util from "node:util";

interface Props {
  multimode: boolean;
  list: CollectionEntry<"charts">[];
}
const { multimode = false, list } = Astro.props;

const bmTotal = (notes: number) => (Math.floor(14933 / notes) * notes) / 55;
const iidxTotal = (notes: number) =>
  Math.max(260, (7.605 * notes) / (0.01 * notes + 6.5));
---

<div id="chart_table" class={multimode ? "multimode" : ""}>
  <div id="header" class="line">
    <div class="package" data-sort-mode="package"></div>
    <div class="ir">IR</div>
    <div class="chart">CHART</div>
    <div class="player">
      <div>
        <input type="checkbox" id="single" checked />
        <label for="single">SP</label>
      </div>
      <div>
        <input type="checkbox" id="double" checked />
        <label for="double">DP</label>
      </div>
    </div>
    <div class="level" data-sort-mode="level">LEVEL</div>
    <div class="genre" data-sort-mode="genre">GENRE</div>
    <div class="title" data-sort-mode="title">TITLE</div>
    <div class="artist" data-sort-mode="artist">ARTIST</div>
    <div class="judge" data-sort-mode="judge">JUDGE</div>
    <div class="bpm" data-sort-mode="bpm">BPM</div>
    <div class="length" data-sort-mode="length">LENGTH</div>
    <div class="notes" data-sort-mode="notes">NOTES</div>
    <div class="dense" data-sort-mode="dense">
      譜面密度<br /><small>(NOTES/SEC.)</small>
    </div>
    <div class="total" data-sort-mode="total">TOTAL</div>
    <div class="recover" data-sort-mode="recover">
      回復量<br /><small>(T/N)</small>
    </div>
  </div>
  {
    list.map((v, i, arr) => (
      <>
        {multimode &&
          (i == 0 ||
            !util.isDeepStrictEqual(arr[i - 1].data.package, v.data.package, {
              skipPrototype: true,
            })) && (
            <div class="mark package-mark">
              {v.data.package.series}
              <br />
              {v.data.package.phase}
            </div>
          )}
        <div
          class="line"
          data-filter-player={v.data.player}
          data-sort-level={v.data.level}
          data-sort-genre={v.data.genre}
          data-sort-title={v.data.title}
          data-sort-artist={v.data.artist}
          data-sort-judge={v.data.judge}
          data-sort-bpm={Array.isArray(v.data.bpm) ? v.data.bpm[0] : v.data.bpm}
          data-sort-length={v.data.length}
          data-sort-notes={v.data.notes}
          data-sort-total={v.data.total ?? iidxTotal(v.data.notes)}
        >
          <div class="package">
            {v.data.package.series}
            {(v.data.package.series === "plugout4" ||
              v.data.package.series === "plugout5") && (
              <>
                <br />
                <small>{v.data.package.phase}</small>
              </>
            )}
          </div>
          <div class="ir">
            <a
              href={`http://www.dream-pro.info/~lavalse/LR2IR/search.cgi?mode=ranking&bmsmd5=${v.data.md5}`}
            >
              <img src="/LR2.png" class="inline size-[1lh]" />
            </a>
            <a
              href={`https://mocha-repository.info/song.php?sha256=${v.data.sha256}`}
            >
              ☕
            </a>
            <a
              href={`https://www.gaftalk.com/minir/#/viewer/song/${v.data.sha256}/0`}
            >
              <img src="/MinIR.png" class="inline size-[1lh]" />
            </a>
          </div>
          <div class="chart">
            <a
              href={`https://bms-score-viewer.pages.dev/view?md5=${v.data.md5}`}
              target="_blank"
            >
              📈
            </a>
          </div>
          <div class="player" data-player={v.data.player}>
            {v.data.player === "single" ? "SP" : "DP"}
          </div>
          <div class="level" data-level={v.data.level}>
            ☆{v.data.level}
          </div>
          <div class="genre">{v.data.genre}</div>
          <div class="title" set:html={v.data.title.replace("(", "<br />(")} />
          <div class="artist">{v.data.artist}</div>
          <div class="judge" data-judge={v.data.judge}>
            {v.data.judge?.toUpperCase() ?? "―――"}
          </div>
          <div class="bpm">
            {Array.isArray(v.data.bpm)
              ? `${v.data.bpm[0]}～${v.data.bpm[1]}`
              : v.data.bpm}
          </div>
          <div class="length">{v.data.length.toFixed(2)} s</div>
          <div class="notes" data-notes={v.data.notes}>
            {v.data.notes}
          </div>
          <div class="dense" data-dense={v.data.notes / v.data.length}>
            {(v.data.notes / v.data.length).toFixed(3)}
          </div>
          <div
            class="total"
            data-iidx={
              (v.data.total ?? iidxTotal(v.data.notes)) /
              iidxTotal(v.data.notes)
            }
          >
            {v.data.total !== undefined ? (
              <>
                {v.data.total.toFixed(2)}
                <small class="tooltip">{`(FINAL比: ${((v.data.total * 100) / bmTotal(v.data.notes)).toFixed(2)}%, IIDX比: ${((v.data.total * 100) / iidxTotal(v.data.notes)).toFixed(2)}%)`}</small>
              </>
            ) : (
              <>
                ({iidxTotal(v.data.notes).toFixed(2)})
                <small class="tooltip">{`(FINAL比: ${((iidxTotal(v.data.notes) * 100) / bmTotal(v.data.notes)).toFixed(2)}%, IIDX比: 100.00%)`}</small>
              </>
            )}
          </div>
          <div
            class="recover"
            data-tn={(v.data.total ?? iidxTotal(v.data.notes)) / v.data.notes}
          >
            {v.data.total !== undefined
              ? (v.data.total / v.data.notes).toFixed(3)
              : `(${(iidxTotal(v.data.notes) / v.data.notes).toFixed(3)})`}
          </div>
        </div>
      </>
    ))
  }
</div>

<script>
  const judges = ["easy", "normal", "hard", "veryhard"];
  const headers = document.querySelectorAll<HTMLElement>(
    "#header > div[data-sort-mode]",
  );
  const lines = [
    ...document.querySelectorAll<HTMLElement>("div.line:not(#header)"),
  ];
  const sorter = new Intl.Collator().compare;

  headers.forEach((head) => {
    head.addEventListener("click", () => {
      for (const e of document.querySelectorAll<HTMLElement>(
        ".mark:not(.package-mark)",
      )) {
        document.getElementById("chart_table")?.removeChild(e);
      }
      for (const e of document.querySelectorAll<HTMLElement>(".package-mark")) {
        e.style.display = "none";
      }

      const sortMode = head.getAttribute("data-sort-mode");
      switch (sortMode) {
        case "package":
          for (const e of document.querySelectorAll<HTMLElement>(
            ".package-mark",
          )) {
            e.style.display = "block";
          }
          lines.forEach((e) => {
            e.style.gridRow = "";
          });
          break;
        case "level":
          lines
            .sort(
              (a, b) =>
                Number(a.getAttribute("data-sort-level")) -
                Number(b.getAttribute("data-sort-level")),
            )
            .forEach((e, i, arr) => {
              if (
                i == 0 ||
                arr[i - 1].getAttribute("data-sort-level") !==
                  e.getAttribute("data-sort-level")
              ) {
                const mark = document.createElement("div");
                mark.classList.add("mark");
                mark.classList.add("level-mark");
                mark.appendChild(
                  document.createTextNode(
                    `☆${e.getAttribute("data-sort-level")}`,
                  ),
                );
                mark.style.gridRow = `${2 * i + 2}`;
                mark.setAttribute(
                  "data-level",
                  `${e.getAttribute("data-sort-level")}`,
                );
                document.getElementById("chart_table")?.appendChild(mark);
              }

              e.style.gridRow = `${2 * i + 3}`;
            });
          break;
        case "genre":
          lines
            .sort((a, b) =>
              sorter(
                a.getAttribute("data-sort-genre")?.toUpperCase() ?? "",
                b.getAttribute("data-sort-genre")?.toUpperCase() ?? "",
              ),
            )
            .forEach((e, i) => {
              e.style.gridRow = `${i + 2}`;
            });
          break;
        case "title":
          lines
            .sort((a, b) =>
              sorter(
                a.getAttribute("data-sort-title") ?? "",
                b.getAttribute("data-sort-title") ?? "",
              ),
            )
            .forEach((e, i) => {
              e.style.gridRow = `${i + 2}`;
            });
          break;
        case "artist":
          lines
            .sort((a, b) =>
              sorter(
                a.getAttribute("data-sort-artist") ?? "",
                b.getAttribute("data-sort-artist") ?? "",
              ),
            )
            .forEach((e, i) => {
              e.style.gridRow = `${i + 2}`;
            });
          break;
        case "judge":
          lines
            .sort(
              (a, b) =>
                judges.findIndex(
                  (v) => v == a.getAttribute("data-sort-judge"),
                ) -
                judges.findIndex((v) => v == b.getAttribute("data-sort-judge")),
            )
            .forEach((e, i, arr) => {
              if (
                i == 0 ||
                arr[i - 1].getAttribute("data-sort-judge") !==
                  e.getAttribute("data-sort-judge")
              ) {
                const mark = document.createElement("div");
                mark.classList.add("mark");
                mark.classList.add("judge-mark");
                mark.appendChild(
                  document.createTextNode(
                    `${(e.getAttribute("data-sort-judge") ?? "").toUpperCase()}`,
                  ),
                );
                mark.style.gridRow = `${2 * i + 2}`;
                mark.setAttribute(
                  "data-judge",
                  `${e.getAttribute("data-sort-judge")}`,
                );
                document.getElementById("chart_table")?.appendChild(mark);
              }

              e.style.gridRow = `${2 * i + 3}`;
            });
          break;
        case "bpm":
          lines
            .sort(
              (a, b) =>
                Number(a.getAttribute("data-sort-bpm")) -
                Number(b.getAttribute("data-sort-bpm")),
            )
            .forEach((e, i) => {
              e.style.gridRow = `${i + 2}`;
            });
          break;
        case "length":
          lines
            .sort(
              (a, b) =>
                Number(a.getAttribute("data-sort-length")) -
                Number(b.getAttribute("data-sort-length")),
            )
            .forEach((e, i) => {
              e.style.gridRow = `${2 * i + 2}`;
            });
          break;
        case "notes":
          lines
            .sort(
              (a, b) =>
                Number(a.getAttribute("data-sort-notes")) -
                Number(b.getAttribute("data-sort-notes")),
            )
            .forEach((e, i, arr) => {
              if (
                i == 0 ||
                Math.floor(
                  Number(arr[i - 1].getAttribute("data-sort-notes")) / 100,
                ) !==
                  Math.floor(Number(e.getAttribute("data-sort-notes")) / 100)
              ) {
                const mark = document.createElement("div");
                mark.classList.add("mark");
                mark.classList.add("notes-mark");
                mark.appendChild(
                  document.createTextNode(
                    `${
                      Math.floor(
                        Number(e.getAttribute("data-sort-notes")) / 100,
                      ) * 100
                    }～${
                      Math.floor(
                        Number(e.getAttribute("data-sort-notes")) / 100,
                      ) *
                        100 +
                      99
                    }`,
                  ),
                );
                mark.style.gridRow = `${2 * i + 2}`;
                mark.setAttribute(
                  "data-notes",
                  `${
                    Math.floor(
                      Number(e.getAttribute("data-sort-notes")) / 100,
                    ) * 100
                  }`,
                );
                document.getElementById("chart_table")?.appendChild(mark);
              }

              e.style.gridRow = `${2 * i + 3}`;
            });
          break;
        case "dense":
          lines
            .sort(
              (a, b) =>
                Number(a.getAttribute("data-sort-notes")) /
                  Number(a.getAttribute("data-sort-length")) -
                Number(b.getAttribute("data-sort-notes")) /
                  Number(b.getAttribute("data-sort-length")),
            )
            .forEach((e, i, arr) => {
              if (
                i == 0 ||
                Math.floor(
                  Number(arr[i - 1].getAttribute("data-sort-notes")) /
                    Number(arr[i - 1].getAttribute("data-sort-length")),
                ) !==
                  Math.floor(
                    Number(e.getAttribute("data-sort-notes")) /
                      Number(e.getAttribute("data-sort-length")),
                  )
              ) {
                const mark = document.createElement("div");
                mark.classList.add("mark");
                mark.classList.add("dense-mark");
                mark.appendChild(
                  document.createTextNode(
                    `${Math.floor(
                      Number(e.getAttribute("data-sort-notes")) /
                        Number(e.getAttribute("data-sort-length")),
                    ).toFixed(3)}～${
                      Math.floor(
                        Number(e.getAttribute("data-sort-notes")) /
                          Number(e.getAttribute("data-sort-length")),
                      ) + 0.999
                    }`,
                  ),
                );
                mark.style.gridRow = `${2 * i + 2}`;
                mark.setAttribute(
                  "data-dense",
                  `${Math.floor(
                    Number(e.getAttribute("data-sort-notes")) /
                      Number(e.getAttribute("data-sort-length")),
                  )}`,
                );
                document.getElementById("chart_table")?.appendChild(mark);
              }

              e.style.gridRow = `${2 * i + 3}`;
            });
          break;
        case "total":
          lines
            .sort(
              (a, b) =>
                Number(a.getAttribute("data-sort-total")) -
                Number(b.getAttribute("data-sort-total")),
            )
            .forEach((e, i, arr) => {
              if (
                i == 0 ||
                Math.floor(
                  Number(arr[i - 1].getAttribute("data-sort-total")) / 50,
                ) !== Math.floor(Number(e.getAttribute("data-sort-total")) / 50)
              ) {
                const mark = document.createElement("div");
                mark.classList.add("mark");
                mark.classList.add("notes-mark");
                mark.appendChild(
                  document.createTextNode(
                    `${(
                      Math.floor(
                        Number(e.getAttribute("data-sort-total")) / 50,
                      ) * 50
                    ).toFixed(2)}～${(
                      Math.floor(
                        Number(e.getAttribute("data-sort-total")) / 50,
                      ) *
                        50 +
                      49.99
                    ).toFixed(2)}`,
                  ),
                );
                mark.style.gridRow = `${2 * i + 2}`;
                document.getElementById("chart_table")?.appendChild(mark);
              }

              e.style.gridRow = `${2 * i + 3}`;
            });
          break;
        case "recover":
          lines
            .sort(
              (a, b) =>
                Number(a.getAttribute("data-sort-total")) /
                  Number(a.getAttribute("data-sort-notes")) -
                Number(b.getAttribute("data-sort-total")) /
                  Number(b.getAttribute("data-sort-notes")),
            )
            .forEach((e, i, arr) => {
              if (
                i == 0 ||
                Math.floor(
                  Number(arr[i - 1].getAttribute("data-sort-total")) /
                    Number(arr[i - 1].getAttribute("data-sort-notes")) /
                    0.15,
                ) !==
                  Math.floor(
                    Number(e.getAttribute("data-sort-total")) /
                      Number(e.getAttribute("data-sort-notes")) /
                      0.15,
                  )
              ) {
                const mark = document.createElement("div");
                mark.classList.add("mark");
                mark.classList.add("recover-mark");
                mark.appendChild(
                  document.createTextNode(
                    `${(
                      Math.floor(
                        Number(e.getAttribute("data-sort-total")) /
                          Number(e.getAttribute("data-sort-notes")) /
                          0.15,
                      ) * 0.15
                    ).toFixed(3)}～${(
                      Math.floor(
                        Number(e.getAttribute("data-sort-total")) /
                          Number(e.getAttribute("data-sort-notes")) /
                          0.15,
                      ) *
                        0.15 +
                      0.149
                    ).toFixed(3)}`,
                  ),
                );
                mark.setAttribute(
                  "data-tn",
                  `${
                    Math.floor(
                      Number(e.getAttribute("data-sort-total")) /
                        Number(e.getAttribute("data-sort-notes")) /
                        0.15,
                    ) * 0.15
                  }`,
                );
                mark.style.gridRow = `${2 * i + 2}`;
                document.getElementById("chart_table")?.appendChild(mark);
              }

              e.style.gridRow = `${2 * i + 3}`;
            });
          break;
        default:
          break;
      }
    });
  });

  const filterFlag = {
    single: true,
    double: true,
  };
  const filter = (player: "single" | "double") => {
    filterFlag[player] = !filterFlag[player];
    document
      .querySelectorAll<HTMLElement>(`div[data-filter-player="${player}"]`)
      .forEach((v) => {
        v.style.display = filterFlag[player] ? "" : "none";
      });
  };

  document
    .querySelector("#single")
    ?.addEventListener("click", (e) => filter("single"));
  document
    .querySelector("#double")
    ?.addEventListener("click", (e) => filter("double"));
</script>

<style is:global>
  @import "tailwindcss";

  #chart_table {
    @apply w-full grid border-t border-l border-mist-800/40;

    font-size: 0.7rem;

    grid-template-columns:
      max-content max-content min-content min-content min-content
      max-content max-content max-content
      min-content max-content max-content min-content min-content min-content min-content;
  }

  #chart_table:not(.multimode) {
    grid-template-columns:
      max-content min-content min-content min-content
      max-content max-content max-content
      min-content max-content max-content min-content min-content min-content min-content;
  }

  #chart_table > div:not(.line),
  #chart_table > .line > div {
    @apply border-b border-r border-mist-800/40;

    position: relative;
    padding: 0.2rem 0.5rem;
    text-align: center;
  }

  #chart_table > div.line {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  div[data-player="single"] {
    @apply bg-blue-400/30;
  }

  div[data-player="double"] {
    @apply bg-red-400/30;
  }

  div[data-level] {
    --level: attr(data-level type(<number>));
    --level-low: min(max(calc(var(--level) - 5), 0), 1);
    --level-hi: min(max(calc(var(--level) - 9), 0), 1);

    --color-low: color-mix(
      in hsl,
      var(--color-teal-400),
      var(--color-yellow-400) calc(25% * calc(var(--level) - 1))
    );
    --color-mid: color-mix(
      in hsl,
      var(--color-yellow-400),
      var(--color-red-600) calc(25% * calc(var(--level) - 5))
    );
    --color-hi: color-mix(
      in hsl,
      var(--color-red-600),
      var(--color-violet-500) calc(25% * calc(var(--level) - 9))
    );

    --diffcolor: color-mix(
      in hsl,
      color-mix(
        in hsl,
        var(--color-low),
        var(--color-mid) calc(100% * var(--level-low))
      ),
      var(--color-hi) calc(100% * var(--level-hi))
    );

    background-color: color-mix(in srgb, var(--diffcolor), transparent 75%);
  }

  div[data-judge="easy"] {
    @apply bg-green-400/25;
  }

  div[data-judge="normal"] {
    @apply bg-yellow-400/25;
  }

  div[data-judge="hard"] {
    @apply bg-red-500/25;
  }

  div[data-judge="veryhard"] {
    @apply bg-purple-500/25;
  }

  div[data-notes] {
    --chart-notes: attr(data-notes type(<number>));

    --color-low: color-mix(
      in hsl,
      var(--color-green-400),
      var(--color-red-600) min(calc(100% * var(--chart-notes) / 999), 100%)
    );
    --color-hi: color-mix(
      in hsl,
      var(--color-red-600),
      var(--color-violet-500)
        min(
          calc(
            100% * calc(atan(calc(var(--chart-notes) / 999)) - 45deg) / 45deg
          ),
          100%
        )
    );

    --color-mixed: color-mix(
      in hsl,
      var(--color-low),
      var(--color-hi)
        calc(100% * max(min(calc(var(--chart-notes) - 999), 1), 0))
    );

    background-color: color-mix(in srgb, var(--color-mixed), transparent 75%);
  }

  div[data-dense] {
    --dense-rate: attr(data-dense type(<number>));

    background-color: color-mix(
      in srgb,
      color-mix(
        in hsl,
        var(--color-green-400),
        var(--color-red-600) min(calc(100% * var(--dense-rate) / 12), 100%)
      ),
      transparent 75%
    );
  }

  div[data-iidx] {
    --totalRate: attr(data-iidx type(<number>));

    --color-low: color-mix(
      in hsl,
      var(--color-red-600),
      var(--color-yellow-400)
        min(calc(100% * atan(var(--totalRate)) / 45deg), 100%)
    );
    --color-hi: color-mix(
      in hsl,
      var(--color-yellow-400),
      var(--color-green-500)
        min(calc(100% * calc(atan(var(--totalRate)) - 45deg) / 45deg), 100%)
    );

    --color-mixed: color-mix(
      in hsl,
      var(--color-low),
      var(--color-hi)
        calc(100% * min(calc(var(--totalRate) - mod(var(--totalRate), 1)), 1))
    );

    background-color: color-mix(in srgb, var(--color-mixed), transparent 75%);
  }

  div[data-tn] {
    --totalRate: attr(data-tn type(<number>));

    --color-total: color-mix(
      in hsl,
      var(--color-red-500),
      var(--color-green-500) calc(100% * atan(var(--totalRate)) / 90deg)
    );

    background-color: color-mix(in srgb, var(--color-total), transparent 75%);
  }

  div#header > div {
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.2rem 0.3rem;
  }

  div.package {
    font-size: 0.6rem;
    font-weight: bold;
  }

  div:not(#header) > div.genre,
  div:not(#header) > div.title,
  div:not(#header) > div.artist {
    font-family: "M PLUS 1p", sans-serif;
  }

  div.title {
    font-weight: bold;
  }

  #chart_table:not(.multimode) div.package {
    display: none;
  }

  div.mark {
    grid-column: 1 / -1;
    font-weight: bold;
    font-size: 1rem;
  }

  div > .tooltip {
    display: none;
    position: absolute;
    width: max-content;
    bottom: 0px;
    right: 0px;
    margin-right: -6em;
    padding: 0.1rem;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2;
  }

  div:hover > .tooltip {
    display: block;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:not(:checked) + label {
    text-decoration: line-through;
    font-weight: bold;
    opacity: 40%;
  }
</style>
